@{
    ViewBag.Title = "Strona główna";
}

<div>
    <h2 style="text-align:center">Wgraj zdjęcie na stronę, a my powiemy Ci, co to za potrawa.</h2>
    <br/><br/><br/><br/>
    <input type="file" name="picture"/>
    <br />
    <button>WYŚLIJ</button>
    <br /><br /><br /><br />
    <label>Potrawa ze zdjęcia to:</label>
    <input type="text"/>
</div>